location ~* /assets/ {
  proxy_pass http://${ASSETS_HOST}:3000;

  # for webpack-dev-server's websocket 
  proxy_http_version 1.1;
  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection "Upgrade";
}
