<!DOCTYPE html>
<html>
  <head>
    <title>RailsVue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script id="page_prop_data" type="text/plain">
      <%= prop_data_json %>
    </script>
    <script type="text/javascript">
      window._application = {
        path: "<%= view_uri %>",
        props: JSON.parse(document.head.children["page_prop_data"].innerText)
      }
    </script>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/assets/index.js"></script>
  </body>
</html>
